/* HERO */
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 84vh;
}

.hero--greece {
  background-image: url("/assets/Images/greece.jpg");
}

.hero--hawaii {
  background-image: url("/assets/Images/hawaii.jpg");
}

.hero--iceland {
  background-image: url("/assets/Images/iceland.jpg");
}

.hero__title {
  color: white;
  font-size: 4.5rem;
  padding: 7rem 1rem 1rem 5rem;
  margin-top: 0;
}

.itinerary-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.itinerary-card__day {
  font-weight: bold;
  border-bottom: 0.15rem solid black;
  width: 86%;
  text-align: center;
}

.itinerary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21%;
  height: 25rem;
  margin: 1rem;
  background-color: white;
  border-radius: 3%;
}

.itinerary-activity-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.itinerary-activity__activity {
  list-style-type: none;
  background-color: #fefaf5;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem 5rem;
}
